.chat-page-wrapper
  = render 'shared/side_bar'

  .chat
    .chat-header
      .chat-header__left-contents
        .chat-header__group-name グループA
        .chat-header__group-members Members: 田中太郎 山田太郎
      .chat-header__edit-button Edit

    .chat-body
      = render @messages

    .chat-footer
      = form_for [@group, @message], class: "chat-footer__form" do |f|
        = f.text_field :content, class: 'chat-footer__input-box', placeholder: 'type a message'
        = f.label :image, class: "chat-footer__image-upload-button" do
          = fa_icon "image"
          = f.file_field :image, id: "chat-footer__upload-icon"
        = f.submit "Send", class: "chat-footer__send-button"



