.chat-page-wrapper
  = render 'shared/side_bar'

  .chat
    .chat-header
      .chat-header__left-contents
        .chat-header__group-name
          = @group.name
        .chat-header__group-members
          Members:
          - @group.users.each do |user|
            = user.name
      = link_to "Edit", edit_group_path(@group), class: "chat-header__edit-button"

    .chat-body
      = render @messages

    .chat-footer
      = form_for [@group, @message], html: {class: "chat-footer__form"} do |f|
        = f.text_field :content, class: 'chat-footer__input-box', placeholder: 'type a message'
        = f.label :image, class: "chat-footer__image-upload-button" do
          = fa_icon "image"
          = f.file_field :image, id: "message_image"
        = f.submit "Send", class: "chat-footer__send-button"



